.div-weather {
    top: 20px;
    align-items: center;
    position: relative;
    text-align: center;
}

.div-data {
    position: relative;
    right: 10px;
}

.temperature {
    font-size: 80px;
    position: relative;
    bottom: 40px;
}

.details {
    font-size: 20px;
    position: relative;
    top: 50px;
    left: 10px;
}