.div-weather {
    top: 10px;
    align-items: center;
    position: relative;
    text-align: center;
}

.div-data {
    position: relative;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.temperature {
    font-size: 85px;
    font-weight: 50;
    color: #000000;
    cursor: default;
    user-select: none;
    position: relative;
    bottom: 30px;
    right: 7px;

    @media only screen and (max-width: 376px) and (max-width: 769px) {
        font-size: 70px;
    }

    @media only screen and (min-width: 770px) and (max-width: 1441px) {
        font-size: 80px;
    }

    @media only screen and (min-width: 1442px) {
        font-size: 120px;
    }
}

.details {
    font-size: 20px;
    font-weight: 50;
    color: #000000;
    cursor: default;
    user-select: none;
    position: relative;
    top: 50px;
   
    @media only screen and (max-width: 376px) and (max-width: 769px) {
        font-size: 20px;
    }

    @media only screen and (min-width: 770px) and (max-width: 1441px) {
        font-size: 20px;
    }

    @media only screen and (min-width: 1442px) {
        font-size: 30px;
    }
}

.loading {
    position: relative;
    top: 200px;
    color: #808080;
}